@import url(../../../styles/theme.css);

.input{
    background-color: transparent;
    border:none;
    text-align: center;
    font-size: 1.8rem;
    padding: .8rem;
    border-radius:.8rem;
    color: var(--text-default);
    outline: none;
    transition: all .3s ease-in-out ;
    border: .2rem solid transparent;
}

.input:focus{
    border:.2rem solid var(--primary);

}

.input::placeholder{
    color: var(--gray-500);
    font-size:1.4rem;
    font-style: oblique;
}