@media (min-width:768px) {

    .container{
        width: 100%;   
    }

    nav{
        display:flex;
        height: 8rem;
        align-items: center;
        justify-content: space-between;
        color: black;
        font-weight: 500;
        font-size: 1rem;
    }

    .logo{
        height: 6rem;
        padding: 35px;
    }

    .logo img{
        height: 100%;
    }

    nav ul{
        display: inline-flex;
        gap: 2rem;
        flex-grow: 1;
        align-items: center;
        justify-content: space-between;


    }

    nav ul li {
        list-style: none;
        font-size 1.2rem;
    }

    nav ul li a{
        text-decoration: none;
    }

    .hid{
        visibility: hidden;
        height: 0.7rem;
    }
}




.hamburgerBtn{
    visibility: hidden;
}

