.cookie-container {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.cookie-config {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    background-color: var(--purple-80, #4a148c);
    color: #f2f2f2;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    margin-right: 20px;
    margin-bottom: 20px;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
    visibility: visible;
}

.cookie-config.cookie-hide {
    opacity: 0;
    transform: translateY(20px);
    visibility: hidden;
    pointer-events: none;
    height: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
}


.btn-cookie-settings {
    background-color: var(--purple-80, #4a148c);
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    margin: 0;
    border-radius: 4px 4px 0 0;
    box-shadow: -2px -2px 10px rgba(0, 0, 0, 0.15);
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.3s ease, transform 0.5s ease, visibility 0.0s;
    visibility: visible;
}

.cookie-container .cookie-config p a{
    color:#61CE84;
    text-decoration: none
}

.btn-cookie-settings.settings-hide {
    opacity: 0;
    transform: translateY(100%) ;

    visibility: hidden;
    pointer-events: none;
    position: absolute;

}


.btn-cookie button {
    background-color: #ffffff;
    color: #000000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    margin-top: 15px;
    transition: background 0.1s;
}

.btn-cookie button:hover {
    background-color: #e0e0e0;
}
