@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


.orangeText {
    color: var(--text-yellow);
}

.greenText {
    color: var(--text-green);
}

.bold {
    font-weight: 700;
}

.hero{

    background-image:linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.9), rgba(0,0,0, .7)),
        url(./img/img-hero-header.jpg); 
    z-index: -2;
    background-size: cover;
    background-position: center;
    height: 77vh;
}



.imgMidHero {
    height: 100%;
    width: 100%;

}

.imgMidHero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.heroText {
    margin-top: -5rem;
    position: absolute;
    top:30%;
    display:flex;
    flex-direction: column;
    gap:1.5rem;
    color: var(--white);
    margin-left:7rem;
}

.title{
    font-size: 2.2rem;
    font-weight: 700;
    color: var(--white);
    text-transform:uppercase;

}

.subtitle {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--white);

}

.description {
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--white);
    width: 98%;
}

.heroText {
    z-index: 2;
    position: absolute;
    top: 40%;
    width:50%
}

.buttonsHero{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}


.busco:link{
    display: flex;
    border:solid 2px var(--black);
    width: 8.9rem;
    padding: .8rem;
    border-radius: 50px;
    box-shadow: var(--cream) .4rem .4rem;
    background-color: var(--cream);
    text-decoration: none;
    color:var(--black);
}



.hiddenIcon{
    height: .7rem;
    transform: translateX(-5px) translateY(5px) ;
    transition: all 0.3s ease-in-out;
    visibility:hidden;
}


.busco:hover .hiddenIcon,
.sou:hover .hiddenIcon{
    transform:translateX(0) translateY(5px);
    visibility: visible;
}

.sou {
    display: flex;
    border:solid 2px var(--black);
    width: 8.9rem;
    padding: .8rem;
    border-radius: 50px;
    box-shadow: var(--text-yellow) .4rem .4rem;
    background-color: var(--text-yellow);
    text-decoration: none;
    color:var(--black);
}



@media (min-width: 768px) and (max-width: 1024px) {

    .creatorsImage {
        position: fixed;
        bottom: 24px;
        right: 24px;
        width: 140px;
        z-index: 9999;
    }

    .imgMidHero{
        visibility: visible;
    }


        
    .heroText {
        top:35%;
        display:flex;
        flex-direction: column;
        gap:1rem;
        color: var(--white);
        margin-left:3rem;
        width: 60%;
        
    }

    .title{
        font-size:1.6rem;
        font-weight: 700;
        color: var(--white);
        width: 100%;
        text-transform:uppercase;
    }

    .subtitle {
        font-size: 1.3rem;
        font-weight: 700;
        color: var(--white);

    }

    .description {
        font-size: 1rem;
        font-weight: 400;
        color: var(--white);
        
    }


    .buttonsHero{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        
    }



    }


@media (max-width: 768px) {

        .imgMidHero{
            visibility: hidden;
            position: relative;
            transform:translateY(0px);
        }


        
    .heroText {
        top:33%;
        display:flex;
        flex-direction: column;
        gap:1rem;
        color: var(--white);
        margin-left:3rem;
        width: 70%;
        
        
        
        
    }

    .title{
        font-size:1.3rem;
        font-weight: 700;
        color: var(--white);
        width: 100%;
        text-transform:uppercase;
        text-align: center;
    }

    .subtitle {
        font-size: 1.1rem;
        font-weight: 700;
        color: var(--white);
        text-align: center;

    }

    .description {
        font-size: .9rem;
        font-weight: 400;
        color: var(--white);
        text-align: center;
        
    }


    .buttonsHero{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        align-items: center;
    }



    }
