:root {
    --text-green:#61CE84;
    --text-orange: #ECAD53;
    --white-background: #F2F7F2;
    --dark-green:#172617;
    --dark-purple:#292130;
    --purple-80:#441764;
    --purple-60:#641898;
    --purple-40: #8319CB;

}